.dropDownOption {
  width: 190px;
  height: 47px;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  color: #5a5a89;
  padding: 15px;
  cursor: pointer;
  text-align: left;
  display: flexbox;
  border: none;
}

.arrowIconContainer {
  float: right;
  margin-right: 0px;
}
